.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-wrapper button {
  background: #177ee5;
  color: #fff;
  padding: 14px 28px;
  border-radius: 4px;
  font-weight: 400;
  outline: none;
  border: none;
  font-size: 19px;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-align: center;
  transition: 0.4s ease;
}

.btn-wrapper button:hover {
  background: #2e8be8;
  transform: scale(1.02);
}
