.header-wrapper {
  width: 100%;
  text-align: center;
}

.header-text {
  font-size: 60px;
  font-weight: bold;
  color: #0e1952;
  margin-bottom: 20px;
}

.header-sub-text {
  color: rgba(79, 97, 119, 0.7);
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 500px) {
  .header-wrapper {
    margin-top: 20px;
  }

  .header-text {
    font-size: 50px;
  }
}
