.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 50px;
}

.alert-wrapper {
  height: 60px;
  width: auto;
  padding: 18px 28px;
  background: #bed8ff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  color: #4d94ff;
  box-shadow: 0 4px 16px #e8e7fe;
}

.confetti-wrapper {
  height: 20px;
  width: 100%;
  justify-content: center;
}

.alert-wrapper.success {
  background: #e7feee;
  color: #61b37c;
}

@media screen and (max-width: 500px) {
  .alert-wrapper {
    width: 80%;
    padding: 24px 30px;
    font-size: 13px;
  }
}
